<ul>

  <li>
    <div style="display:flex;
    flex-direction:row;">
      <div>
        <img style="height:120px; width:110px; margin-right:50px" [src]="movie.image" alt="Select Image"/>
      </div>
      <div style="align-self: center">
        <ul>
          <li> <strong>Title : </strong> {{movie.name}} </li>          
          <li> <strong>Description : </strong> {{movie.description}}</li>
          <li style="display:flex; flex-direction:row;">
            <strong>Cast : </strong>
            <div *ngFor="let star of movie.stars" style="margin-left:10px">
                <span style="margin-right:4px">{{ star.fullName }}</span>
            </div>
          </li>
          <li>  
          
            

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <div class="container">
              <span class="star star-under fa fa-star"></span>
              <span id="staroverId" [ngStyle]="setMyStyles()" class="star star-over fa fa-star"></span>
            </div>
            
            {{averageRating}} / 5
            
          </li>

          

          <li>
            <app-rating [hidden]="!ratingVisible" [rating]="rating" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></app-rating>
          </li>
        </ul>
      </div>
    </div>
  </li>

</ul>